#wm-toolbar {
	background-color: #707070;
	font-family: "Lucida Grande", "Trebuchet MS", Tahoma, Verdana, sans-serif;
	font-size: 13px;
	line-height: 1;
	bottom: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 600;
}
#wm-toolbar div.wm-blocks {
	overflow: hidden;
	display: none;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	text-align: left;
	width: 260px;
}
#wm-toolbar.vertical div.wm-blocks {
	width: 0px;
}
#wm-toolbar .wm-toggle {
	color: #CCCCCC;
	font-size: 11px;
	height: 12px;
	margin-top: 5px;
}
.wm-toggle-button {
	background: url(../images/minimize.gif) no-repeat;
	float: right;
	height: 12px;
	width: 12px;
}
body.wm-collapsed .wm-toggle-button {
	background: url(../images/maximize.gif) no-repeat;
}
body.wm-expanded #wm-toolbar div.wm-blocks {
	display: block;
	width: 260px;
}
body.wm-expanded {
	margin-left: 260px;
}
body.wm-collapsed {
	margin-left: 30px;
}
body.wm-collapsed #wm-toolbar {
	width: 30px;
}
body.wm-expanded #overlay-container {
	left: 260px;
}
body.wm-expanded .overlay-element.overlay-active {
	width: 82%;
}
.wm-profile-wrapper {
	height: 60px;
	padding-left: 10px;
	/*background: url('../images/profile-wrapper.png') no-repeat;*/
}
.wm-profile-wrapper img {
	float: left;
	margin-right: 10px;
}
.wm-profile-wrapper .item-text {
	line-height: 45px;
}
.wm-profile-wrapper a:link, .wm-profile-wrapper a:visited, .wm-profile-wrapper a:hover {
	color: #FFF !important;
	font-size: 11px !important;
}
#wm-toolbar .user-picture {
	width: 100px;
	height: 100px;
}
#wm-toolbar .user-picture img {
	max-width: 100%;
}
.wm-status-wrapper {
	clear: both;
}
#wm-toolbar ul {
	margin: 0;
	padding: 0;
}
#wm-toolbar .header {
	height: 41px;
	background: url('../images/back.png') repeat-x;
	padding-left: 5px;
	color: #a0a0a0;
	font-weight: normal;
	font-size: 19px;
	font-family: "Lucida", "Lucida Grande", "Trebuchet MS", Tahoma, Verdana, sans-serif
}
#wm-toolbar .header-img {
	margin-top: -7px;
	vertical-align: middle;
	display: inline !important;
}
#wm-toolbar .header-text {
	line-height: 40px;
}
#wm-toolbar .item {
	background-color: #5A5A5A;
	margin-bottom: 5px;
	padding: 0 0 0 5px;
}
.scroll-pane li.hover {
	background-color: #6b6b6b !important;
}
.scroll-pane .item {
	padding: 8px 0 0 5px !important;
	height: 27px;
}
.wm-status-wrapper .item {
	background-color: #707070 !important;
}
#wm-toolbar .wm-filter {
	padding-left: 33px;
	text-align: left;
}
#wm-toolbar .wm-filter input {
	padding: 2px;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	border: none !important;
}
#wm-toolbar .wm-profile {
	padding: 0 0 20px 20px;
}
#wm-toolbar #main {
	margin-left: 20px;
	width: 500px;
}
#wm-toolbar .scroll-pane {
	padding-bottom: 30px;
}
#wm-toolbar .non-scroll-pane {
}
#wm-toolbar .item-img {
	vertical-align: middle;
	display: inline !important;
}
#wm-toolbar .profile-img {
	margin-right: 5px;
	vertical-align: middle;
}
#wm-toolbar .item-text {
	height: 16px;
	vertical-align: middle;
	color: #c4ccda;
}
#wm-toolbar .item-text a:link, #wm-toolbar .item-text a:hover, #wm-toolbar .item-text a:visited {
	color: #dedddd;
	text-decoration: none;
}
#wm-toolbar .item-icon {
	float: right;
	color: #bfc5d2;
	background-color: #5c6375;
	padding: 2px;
	-moz-border-radius: 2px;
	min-width: 16px;
	text-align: center;
}
#wm-toolbar .wm-filter-wrapper {
	border-top: 1px solid #606060;
	border-bottom: 1px solid #606060;
	padding: 10px 0 !important;
	background: transparent url(../images/search.png) no-repeat;
	height: 32px;
	clear:both;
}
#wm-toolbar #filter {
	background-color: transparent;
	border: medium none;
	margin-top: 6px;
	color: #B6B6B6;
}
body .wm-shorcuts {
	display: block;
}
#wm-toolbar .wm-shorcuts a {
	margin-bottom: 5px;
	display: block;
}
body.wm-expanded .wm-shorcuts {
	display: none;
}
#wm-toolbar .jspTrack {
	background-color: #afafaf;
}
#wm-toolbar .jspDrag {
	background-color: #606060;
}
.jspVerticalBar {
	width: 10px;
}

